.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  height: 400px;
  width:auto;
  margin-top: 10px;
}
/* we didnt use hv-100 in the HTML. instead we used height and width to get
all of the image. o and it's not image-height (like i tried) but just heigh
and width. lol  */

.navbar{
  text-align: right;
}

.this{
  opacity: 1;
}

.tool-bar{
  background-color: rgba(0, 0, 0, .5);
  margin-top: auto;
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.font{
  color: white;
  font-weight: bold;
  opacity: 1;
  font-size: 20px;
}

#go-btn{
  background-color: green;
  border-radius: 15px;
  border-color: green;
  padding: 10px, 10px;
  color: white;
}

#book-btn{
  background-color: green;
  border-radius: 15px;
  border-color: green;
  padding: 10px, 10px;
  color: white;
  margin-right: 20px;
}

#btn-center{
  background-color: black;
  border-radius: 15px;
  border-color: green;
  padding: 10px, 10px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* margin-right: auto;
  margin-left: auto; */

}

.tel-link{
  color: #ffffff !important;
}

P{
  font-size: 18px;
}


.btn{
  background-color: black;
  border-radius: 15px;
  color: #ffffff !important;
  font-size: 18px;
}

.junk{
  margin-top: 40Px;
  margin-bottom: 40px;
}

.owner{
  background-color: #8080800d;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.flag{
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.text{
  margin-top: 30px;
}

.ig-logo{
  left:15px;
  bottom: 15px;
  position: absolute;
  width: 80px;
}

.rated{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.box{
  background-color: #8080800d;
  margin-top: 40px;
}

il{
  font-size: 20px;
}

.table{
  margin-top: 10PX;
  padding-left: 63px;
  padding-top: 45px;
  font-size: 18px;
  padding-bottom: 10px;
}

.remove{
  padding-bottom: 8px;
}

.foot{
  background-color: #221e1f;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin-top: 20px;
  padding-bottom: 40px;
}


.footlogo{
  margin-top: 70px;
  margin-bottom: 20px;
}

.footimg{
  background-color: white;
}

.ownimg{
  background-color: white;
}

/* a{
  color: black;
} */


.footllink{
  color: white !important;
}
