.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
}


.font{
  color: white;
  font-weight: bold;
  opacity: 1;
}

.tool-bar{
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  top: 250px;
  /* used BS position for fixed-bottom */

}

.P{
  font-size: 18px;
}

.box{


}

.btn{
  background-color: black;
  border-radius: 15px;
  color: #ffffff !important;
  font-size: 18px;
}

.junk{
  margin-top: 93px;
}
