.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
}


.font{
  color: white;
  font-weight: bold;
  opacity: 1;
}

.tool-bar{
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  top: 500px;
  /* used BS position for fixed-bottom */

}

P{
  font-size: 18px;
}

.box{

}

.btn{
  background-color: black;
  border-radius: 15px;
  color: #ffffff !important;
  font-size: 18px;
}

.junk{
  margin-top: 40Px;
}

.owner{
  background-color: #8080800d;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.flag{
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.text{
  margin-top: 30px;
}

.ig-logo{
  left:15px;
  bottom: 15px;
  position: absolute;
  width: 80px;
}

.rated{
  text-align: center;
  margin-top: 50px;

}

.box{
  background-color: #8080800d;
  margin-top: 40px;
}

.font{
  font-size: 20px;
}

il{
  font-size: 20px;
}

.table{
  margin-top: 10PX;
  padding-left: 63px;
  padding-top: 45px;
}

.remove{
  padding-bottom: 8px;
}
