.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
}

.navbar{
  text-align: right;
}


.font{
  color: white;
  font-weight: bold;
  opacity: 1;
}

.tool-bar{
  background-color: black;
  margin-top: auto;
  position: absolute;
  bottom: 0px;
  opacity: 0.5;
  color: white;
  font-weight: bold;

  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; */
  /* used BS position for fixed-bottom */

}

.go-btn{
  background-color: green;
}

.tel-link{
  color: #ffffff !important;
}
P{
  font-size: 18px;
}

.box{

}

.btn{
  background-color: black;
  border-radius: 15px;
  color: #ffffff !important;
  font-size: 18px;
}

.junk{
  margin-top: 40Px;
}

.owner{
  background-color: #8080800d;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.flag{
  text-align: center;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.text{
  margin-top: 30px;

}

.ig-logo{
  left:15px;
  bottom: 15px;
  position: absolute;
  width: 80px;
}

.rated{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.box{
  background-color: #8080800d;
  margin-top: 40px;
}

.font{
  font-size: 40px;
}

il{
  font-size: 20px;
}

.table{
  margin-top: 10PX;
  padding-left: 63px;
  padding-top: 45px;
  font-size: 32px;
  padding-bottom: 10px;
}

.remove{
  padding-bottom: 8px;
}

.foot{
  background-color: #221e1f;
  color: white;
  text-align: center;
  padding-top: 40px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.footimg{
  item-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
